body {
    background-color: lightblue;
    text-align: center;
}

.heading{
    padding-top: 0;
    margin-top: 0;
    color: lightslategrey;
}

.inputs{
    background-color: lightgrey;
    margin-bottom: 10px;
    border-radius: 5px;
}

.form-center{
    background-color: white;
    border-radius: 5px;
}
.container{
    background-color: whitesmoke;
    display: inline-block;
    padding: 0 25px;
    padding-bottom: 50px;
    padding-top: 10px;
    border-radius: 5px;
}

.sign-in-button {
    background-color: lightblue;
    border: 3px solid lightblue; 
    border-left: 50px solid lightblue;
    border-right: 50px solid lightblue;
    border-radius: 5px;

    margin-bottom: 15px;
}

.links{
    text-decoration: underline;
}

.sign-up{
    margin-top: 10px;
    padding-top: 10px;
}

.sign-up{
    text-align: center;
}