body {
    background-color: lightblue;
    text-align: center;
}

.heading{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0;
    margin-top: 0;
    color: lightslategrey;
}

.inputs{
    background-color: lightgrey;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.form-center{
    background-color: white;
    border-radius: 5px;
}
.container{
    background-color: whitesmoke;
    display: inline-block;
    padding: 0 25px;
    padding-bottom: 50px;
    padding-top: 10px;
    border-radius: 5px;
}

.sign-in-button {
    background-color: lightblue;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.forgot-password{
    font-family: Arial, Helvetica, sans-serif;
}

.links{
    text-decoration: underline;
}

.sign-up{
    margin-top: 10px;
    padding-top: 10px;
}

.sign-up{
    text-align: center;
}